*

!.gitignore

!.config/

!.config/foot/
!.config/foot/**

!.config/nvim/
!.config/nvim/**

!.config/sway/
!.config/sway/**

!.config/waybar/
!.config/waybar/**

!scripts
!scripts/**

!.fdignore
!.gitconfig
!.tmux.conf
!.zshrc


